body {
    background: black;
    display:flex; 
    flex-direction:column; 
  }
html, body{ height:100%; margin:0; }
header{ height:50px; background:black; }
footer{ height:50px; background:black; }
footer{
	margin-top:auto; 
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
p,li,h1,h2,h3,span { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
/* A link that has not been visited */
a:link {
	color: white;
}
/* A link that has been visited */
a:visited {
	color: white;
}
/* A link that is hovered on */
a:hover {
	color: white;
}
/* A link that is selected */
a:active {
	color: white;
}