<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
                    <!--<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer >
	        		 <p class="content" align="center"><font size="4" color="white">Una bolla in Milano.</font><p>
	        		<!--<p href="https://github.com/hankquinlan">github.com/hankquinlan</p> -->
			</footer>
		</body>
	</html>